/*css reset*/
* {
	margin: 0;
	padding: 0;
	font-size: 1.5625vw;
	border: none;
	font-family: "Micro Yahei";
}

html,
body {
	height: 100%;
}

/* 音乐小图标组件 */
.music {
	position: fixed;
	top: 3vh;
	right: 4vw;
	z-index: 5;
    width: 15vw;
    height: 15vw;
    border: 4px solid #ef1639;
    border-radius: 50%;
    background: #fff;
}

.music img:first-of-type {
    position: absolute;
    top: 24%;
    right: 2.5%;
    width: 28.421%;
    z-index: 1;
}

.music img:last-of-type {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    width: 79%;
    border-radius: 50%;
    z-index: 0;
}

/*
** 碟片旋转动画
*/
.music img.play {	
	-webkit-animation: music_disc 4s linear infinite;
	        animation: music_disc 4s linear infinite;
}
@-webkit-keyframes music_disc {
	0% {
		-webkit-transform: rotate(0deg);
		        transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
		        transform: rotate(360deg);
	}
}
@keyframes music_disc {
	0% {
		-webkit-transform: rotate(0deg);
		        transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
		        transform: rotate(360deg);
	}
}


/*page background*/
.page {
	position: absolute;
	width: 100%;
	height: 100%;
}

.page .bg {
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: -1;
}

/*page_1*/
#page1 {
    display: none;
}

#page1 .bg {
	background: url(../images/p1_bg.jpg) no-repeat center center;
    background-size: 100%;
}
/*灯笼*/
#page1 .p1_lantern {
	position: absolute;
	width: 64vw;
	height: 61.2vh;
	top: -3.4%;
	right: 0;
	left: 0;
	margin: auto;
	background: url(../images/cake.png) no-repeat center bottom;
	background-size: 100%;
	padding-top: 31vh;
	font-size: 3.506rem;
	text-align: center;
    /*兼容性处理*/
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	    -ms-box-sizing: border-box;
	     -o-box-sizing: border-box;
	        box-sizing: border-box;
}
/*粉色背景*/
#page1 .p1_lantern:before {
	content: "";
	z-index: -1;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    height: 30vw;
    width: 30vw;
    background: #d60b3b;
    opacity: .5;
    border-radius: 50%;
    -webkit-box-shadow: 0 0 10vw 10vw #d60b3b;
       -moz-box-shadow: 0 0 10vw 10vw #d60b3b;
        -ms-box-shadow: 0 0 10vw 10vw #d60b3b;
         -o-box-shadow: 0 0 10vw 10vw #d60b3b;
            box-shadow: 0 0 10vw 10vw #d60b3b;
    /* animation动画 */
    -webkit-animation:p1_lantern .5s infinite alternate;
	        animation:p1_lantern .5s infinite alternate;
}
/*
** 灯笼闪烁动画
*/
@-webkit-keyframes p1_lantern {
    0% {
        opacity: .5;
        -webkit-transform: scale(.8 , .8);
		        transform: scale(.8 , .8);
    }
    100% {
    	opacity: 1;
    }
}
@keyframes p1_lantern {
    0% {
        opacity: .5;
        -webkit-transform: scale(.8 , .8);
		        transform: scale(.8 , .8);
    }
    100% {
    	opacity: 1;
    }
}


/*慕课网logo*/
#page1 .p1_imooc {
    position: absolute;
    right: 0;
    top: 50vh;
    left: 0;
    background: url(../images/cats.png) no-repeat center center;
    background-size: 100%;
    width: 52.656vw;
    height: 39.63vh;
    margin: auto;
}
/*底部文字*/
#page1 .p1_words {
	font-size: 4.134rem;
	position: absolute;
    right: 1vw;
    bottom: 48px;
    left: 0;
    top: 85vh;
    text-align: center;
    color: rgb(234,65,70);
    -webkit-animation:p1_words .5s infinite alternate;
            animation:p1_words .5s infinite alternate;
}
@-webkit-keyframes p1_words {
    0% {
        opacity: .5;
        -webkit-transform: scale(.8 , .8);
                transform: scale(.8 , .8);
    }
    100% {
        opacity: 1;
    }
}
@keyframes p1_words {
    0% {
        opacity: .5;
        -webkit-transform: scale(.8 , .8);
                transform: scale(.8 , .8);
    }
    100% {
        opacity: 1;
    }
}

/*page_2*/
#page2 {
   display: none;
}

#page2 .bg {
	background: url(../images/bg-2.png) repeat-y center center;
    background-size: 100%;
}
/*外圈*/
#page2 .p2_circle {
	position: absolute;
	top: -10vh;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    border-radius: 50%;
    background: url(../images/cicle.png) no-repeat center center;
    background-size: 100%;
    width: 59.375vw;
    height: 59.375vw;
    /* animation动画 */
    -webkit-animation:p2_circle_outer 2s linear 2s infinite ;
	        animation:p2_circle_outer 2s linear 2s infinite ;
}
/*
** 旋转动画
*/
@-webkit-keyframes p2_circle_outer {
    0% {
        -webkit-transform: rotate(0deg);
		        transform: rotate(0deg);
    }
    100% {
    	-webkit-transform: rotate(-360deg);
		        transform: rotate(-360deg);
    }
}
@keyframes p2_circle_outer {
    0% {
        -webkit-transform: rotate(0deg);
		        transform: rotate(0deg);
    }
    100% {
    	-webkit-transform: rotate(-360deg);
		        transform: rotate(-360deg);
    }
}

#page2 .p2_2016 {
	position: absolute;
	top: -10vh;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    background: url(../images/cat.png) no-repeat center center;
    background-size: 100%;
    width: 47.5vw;
    height: 32.24vh;
}

#page2 #videoDiv {
    position: absolute;
    bottom: 5vh;
    left: 1vw;
    margin:  0 auto;
    width: 27.5vw;
    height: 32.24vh;
}

#page2 .p2_words {
    font-size: 4.734rem;
    position: absolute;
    right: 1vw;
    left: 0;
    top: 15vh;
    text-align: center;
    color: rgb(169,94,55);
    -webkit-animation:p1_words 2s infinite alternate;
            animation:p1_words 2s infinite alternate;
}

/*page_3*/
#page3 {
   display: block;
}

#page3 .bg {
	background: url(../images/p3_bg.jpg) no-repeat top center;
    background-size: 100%;
}

#page3 #videoDiv {
    position: absolute;
    bottom: 0;
    left: 1vw;
    margin:  0 auto;
    width: 27.5vw;
    height: 32.24vh;
}