<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/index.css' />
  </head>
  <body>
  	<header>
  	    <h1><%= title %></h1>	
  	</header>
  	<div class="left">
  		<ui>
		<% music.forEach(function(name){ %>
        <li title="<%= name %>"><%= name %></li>
        <% }) %>
  		</ui>
  	</div>
  	<div class="right"></div>
  </body>
</html>
