<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/index.css' />
  </head>
  <body>
  	<header>
  	    <h1><%= title %></h1>	
  	</header>
  	<div class="left">
  		<ui>
  			<li>music 1</li>
  			<li>music 2</li>
  			<li>music 3</li>
  		</ui>
  	</div>
  	<div class="right"></div>
  </body>
</html>
