<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/index.css' />
  </head>
  <body>
  	<header>
  	    <h1><%= title %></h1>	
  	</header>
  	<div class="left">
  		<ul class="list">
		<% music.forEach(function(name){ %>
        <li title="<%= name %>"><%= name %></li>
        <% }) %>
  		</ul>
  	</div>
  	<div class="right"></div>

  	<script type="text/javascript" src="/javascripts/index.js"></script>
  </body>
</html>
